a.mu-logo {
    background-image: url(https://dummyimage.com/130x30/000/fff.png&text=Madeup+Uni);
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-right:10px;
    width: 130px;
    height: 30px;
    text-indent: -9999px;
    background-size: 130px 30px;
}

