$blockwidth: 280px !default;

/**
* Block Width
**/

@media screen and (min-width: 991px) {
    #region-main.has-blocks {
        width: calc(100% - #{$blockwidth});
    }
    #region-main-settings-menu.has-blocks {
        width: calc(100% - #{$blockwidth});
    }
}

@media screen and (min-width: 991px) {
    [data-region="blocks-column"] {
        width: calc(#{$blockwidth} - 30px);
    }
}
.colly-container {
    display: flex;
    justify-content: space-between;
}

.colly-container.editing {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.colly-1 {
    flex-basis: 100%;
}
.colly-2 {
    flex-basis: calc(50% - 15px);
}
.colly-3 {
    flex-basis: calc(33% - 15px);
}
.colly-4,
.colly-container.editing section {
    flex-basis: calc(25% - 15px);
}