.course-content .section-summary, .course-content ul li.section.main {
    border: 0 none;
}
.course-content .section-summary .summarytext{
    margin-left:15px;
}
.course-content .section-summary .section-title a::after {
    font-family: FontAwesome;
    content: "\F0A9";
    margin-left: 5px;
}
#section-0{
    display:none;
}
.single-section h3.sectionname {
    text-align: left;
    font-weight: 500;
}
.course-content .section-summary .section-title{
    font-weight: 500;
}
.section-navigation.mdl-bottom .mdl-align{
    text-align: left;
}
/* Change style of highlighted section to highlight more. from campus boost */
li.section.main.current {
    border-bottom: $brand-primary 4px solid;
    border-top: $brand-primary 3px solid; /*1px less because of section dividing border. */
    background: $gray-lightest;
}
