.course-content .section-summary, .course-content ul li.section.main {
border: 0 none;
}
.course-content .section-summary .summarytext{
    margin-left:15px;
}
.course-content .section-summary .section-title a::after {
    font-family: FontAwesome;
    content: "\F0A9";
    margin-left: 5px;
}
#section-0{
    display:none;
}
.single-section h3.sectionname {
    text-align: left;
    font-weight: 500;
}
.course-content .section-summary .section-title{
    font-weight: 500;
}
.section-navigation.mdl-bottom .mdl-align{
    text-align: left;
}
a.mu-logo {
    background-image: url(https://dummyimage.com/130x30/000/fff.png&text=Madeup+Uni);
    background-repeat: no-repeat;
    margin-top: 5px;
    width: 130px;
    height: 30px;
    text-indent: -9999px;
    background-size: 130px 30px;
}

