{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_boost/navbar }}

    <div id="page" class="container-fluid">
        {{{ output.full_header }}}

        <div id="page-content" class="row pb-3">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="d-print-none">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-12 text-center"> <span id="clock"></span></div>
    {{#js}}
        require(['jquery', 'theme_sonofbooster/jquery.countdown'], function($) {
        $('#clock').countdown('2020/10/10', function(event) {
        $(this).html(event.strftime('%D days %H:%M:%S'));
        });
    });
    {{/js}}
        <div class="col-12 text-center"><form id="myForm"><input type="text" name="field1" id="field1">
        <input type="button" name="submit" id="submit" value="Submit"></form></div>
        <div class="col-12 text-center"><button id="serverdatetimebtn" type="button" class="btn btn-primary text-center">{{# str }} serverdatetimebutton, theme_sonofbooster {{/ str }}</button></div>
        <h2 class="col-12 text-center">{{# str }} serverdatetime, theme_sonofbooster {{/ str }}<span id="theserverdatetime">{{ serverdatetime }}</span></h2>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_boost/nav-drawer }}
    {{> theme_boost/footer }}
</div>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
